@font-face { font-family: Myriad; src: url('http://freeshared.org/fonts/Myriad.OTF'); }
body
{
    font-family: Myriad;
}
.aligned {
    text-align: center;
    padding-bottom:28%;
}
.aligned_input {
    text-align: center;
    padding-bottom:-10%;
}
.aligned_text {
    text-align: center;
    font-size: 88%;
}
.no:hover {
    background:none;
} .no:active {
      background: none;
  }
#seconds {
    font-size:10px;
}
.mediaCustomButtom {
    background-color: black;
    color:white;
    transition-property: background, opacity;
    transition-duration: 0.5s;
    outline: none;
} 

.mediaCustomButtom:hover{
    cursor: pointer;
    opacity: 0.5;
    color:white;
  }

  .mediaCustomButtom:focus{
    opacity: 1.0 !important;
  }
   .mediaCustomButtom:active{

    opacity: 1.0 !important;
    outline: 0;
   }

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



/**/

.confetti-button {

  margin: auto;
  width: 82%;
  height: 48%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;

  font-size: 2.5vh;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--main-bg-color);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--shadow-color);
}

.confetti-button:focus { outline: 0; }

.confetti-button:before, .confetti-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--before-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--before-bg-color) 15%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--after-bg-color) 15%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button:active {
  transform: scale(0.9);
  background-color: var(--active-bg-color);
  box-shadow: 0 2px 25px var(--shadow-color);
}

.confetti-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

 @keyframes
    topBubbles {  
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }
        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

@keyframes
    bottomBubbles {  
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }
        100% {
             background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
             background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

.confetti-button.selected{
  height : 75%;
  width  : 90%;
  font-size: 3vh;
  margin: auto;
  transition         : height .2s, width .2s, font-size .2s;
  -webkit-transition : height .2s, width .2s, font-size .2s;
  -moz-transition    : height .2s, width .2s, font-size .2s;
  -ms-animation      : height .2s, width .2s, font-size .2s;
}


.pulsingButton{
    -webkit-animation : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation    : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation     : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation         : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes  pulse {to {box-shadow: 0 0 0 65px ;}}
@-moz-keyframes     pulse {to {box-shadow: 0 0 0 65px ;}}
@-ms-keyframes      pulse {to {box-shadow: 0 0 0 65px ;}}
@keyframes          pulse {to {box-shadow: 0 0 0 65px ;}}