body {
  padding: 0;
  margin: 0;
}

#turntable {
   display: grid;
  height: 95vh;
  grid-template-rows: 4fr 1fr;
  padding-bottom: 5vh;
}

body h1, h2, h3{
  color: black;
  text-shadow: 0px 0px 10px gray;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.gender{
  border: 1px solid black;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.infos{
  margin: auto;
}

#contents{
  display: grid;  
  justify-content: center;
  text-align: center;
}

.hidden-content {
    visibility: hidden;
    display: none;
}

.confetti-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--main-bg-color);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--shadow-color);
}

.confetti-button:focus { outline: 0; }

.confetti-button:before, .confetti-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--before-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--before-bg-color) 15%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--before-bg-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--after-bg-color) 15%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--after-bg-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button:active {
  transform: scale(0.9);
  background-color: var(--active-bg-color);
  box-shadow: 0 2px 25px var(--shadow-color);
}

.confetti-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
 @keyframes
topBubbles {  0% {
 background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
 50% {
 background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
}
 100% {
 background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
@keyframes
bottomBubbles {  0% {
 background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
 50% {
 background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
 100% {
 background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}

.activeButton{
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}



@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}



body {
  position: relative;
}
body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}